@media (min-width: 768px) {
     .navbar {
          min-height: 100px;
     }
     .h1{
         font-size: 50px;
     }

}
.intro{
    margin-top: 200px;
}
.jumbo{

    text-align: center;
}
.custom-heading{
    font-family: 'Times New Roman', Times, serif
}
.custom-text{
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}
.skill{
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}
.progress-bar{
    margin-left: 10px;
}
.custom-bg{
    background-color: #0E1662;
    color: aliceblue;
}
#button1:hover{
    background-color: rgb(30, 50, 223);
    
}

